

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>海豚数据平台-美团外卖</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="海豚,外卖,数据平台">
    <meta name="description" content="美团外卖海豚数据平台">
    <link rel="stylesheet" href="//mss.sankuai.com/v1/mss_a59ccb8aa1134fe78baf942cef3422bd/auto-bi/dynamicv2/css/mobile_vendor.css" type="text/css"/>
    <link rel="stylesheet" href="//mss.sankuai.com/v1/mss_a59ccb8aa1134fe78baf942cef3422bd/auto-bi/dynamicv2/css/mobile_common.css" type="text/css"/>

    <link rel="stylesheet" href="//mss.sankuai.com/v1/mss_a59ccb8aa1134fe78baf942cef3422bd/auto-bi/dynamicv2/crm/cdn/mobile/css/cssmain.9316ffdda8.css">

<script src="http://mss.sankuai.com/v1/mss_a59ccb8aa1134fe78baf942cef3422bd/test/error_catch.js" >
    <script>
        window.PointerEvent = undefined;

        window._ginkgo_var = {
            group: 'crm',
            platform: 'mobile',
            pageId: '425'
        };

        window.uid= '2086385';

        window.onerror = function(errorMessage, scriptURI, lineNumber,columnNumber,errorObj) {
            alert("错误信息：" , errorMessage);
            alert("出错文件：" , scriptURI);
            alert("出错行号：" , lineNumber);
            alert("出错列号：" , columnNumber);
            alert("错误详情：" , errorObj);
        }
    </script>
    <script src="//cdn.ravenjs.com/1.1.19/jquery,native/raven.min.js"></script>

    <script crossorigin="anonymous" src="//www.dpfile.com/app/owl/static/owl_1.5.21.js"></script>
    <script>
        Owl.start({
            // 建议使用前端项目名，package.json或者f2eci.json中的name
            project: 'waimai_dolphin_web',
            error:{
                sample:1,
                combo:false,
            },
            onErrorPush: function(instance){
                return instance.updateTags({
                    uid: window.uid,
                    username:'zhujianlin'
                })
            },
            noScriptError:false,
            /* 强烈建议业务进行配置，有利于数据的聚合
             * 当前页面所属的页面URL，默认会使用window.location.href
             * 建议不要直接使用location.href,
             * 可以是非URL，比如'toutiao-detail'
             */
            pageUrl: window.location.href
        })



        Raven.config('http://43c6a5e79f6d47af84e04ef64fbf4296@sentry7.sankuai.com/1070',{release:'1.1.19'}).install();
        Raven.setUserContext({
            id: window.uid,
            username:'zhujianlin'
        })


    </script>



  
</head>
<body>
<div id="app"></div>


<script src="//mss.sankuai.com/v1/mss_a59ccb8aa1134fe78baf942cef3422bd/auto-bi/dynamicv2/js/library_mobile.5e50f.min.js"></script>
<!-- / -->

<script src="//mss.sankuai.com/v1/mss_a59ccb8aa1134fe78baf942cef3422bd/auto-bi/dynamicv2/js/mobile_vendor.js"></script>
<!-- / -->

<script src="//mss.sankuai.com/v1/mss_a59ccb8aa1134fe78baf942cef3422bd/auto-bi/dynamicv2/crm/cdn/mobile/js/425/dist/jsmain.3ffce7faba.js"></script>
<!-- / -->

<style>
    .wm-datatable table.dataTable tr.even, /* 偶数列 */
    .com--label-block, /* label */
    body, .cell{
        background-image: url(http://data.waimai.sankuai.com/api-wm/image?r=255&g=255&b=255),url(https://dolphin-wm.sankuai.com/api-wm/image?r=255&g=255&b=255) !important;
        background-size: auto,auto !important;
    }
    .wm-datatable table.dataTable tr.odd /* 奇数列 */
    {
        background-image: url(http://data.waimai.sankuai.com/api-wm/image?r=249&g=249&b=249),url(https://dolphin-wm.sankuai.com/api-wm/image?r=249&g=249&b=249) !important;
        background-size: auto,auto !important;
    }
</style>

<script src="//cdn.ravenjs.com/1.1.19/jquery,native/raven.min.js"></script>

<script crossorigin="anonymous" src="//www.dpfile.com/app/owl/static/owl_1.5.21.js"></script>

</body>
</html>

