


<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
<title>海豚数据平台-美团外卖</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<meta name="keywords" content="海豚,外卖,数据平台">
<meta name="description" content="美团外卖海豚数据平台">
        <link rel="stylesheet" href="//mss.sankuai.com/v1/mss_a59ccb8aa1134fe78baf942cef3422bd/auto-bi/dynamicv2/css/mobile_vendor.css" type="text/css"/>
        <link rel="stylesheet" href="//mss.sankuai.com/v1/mss_a59ccb8aa1134fe78baf942cef3422bd/auto-bi/dynamicv2/css/mobile_common.css" type="text/css"/>
        
            <link rel="stylesheet" href="//mss.sankuai.com/v1/mss_a59ccb8aa1134fe78baf942cef3422bd/auto-bi/dynamicv2/crm/cdn/mobile/css/cssmain.a9f3e71da4.css">
        <script src="https://mss.sankuai.com/v1/mss_a59ccb8aa1134fe78baf942cef3422bd/test/error_catch.js"></script>


        <script>
            window.PointerEvent = undefined;

            window._ginkgo_var = {
                group: 'crm',
                platform: 'mobile',
                pageId: '170'
            };

            window.uid= '2015111';
        </script>


        <!-- Perf 统计 start -->


<!-- GA 统计 end -->

        <!-- M 端统计 start -->
        <!-- M 端统计 end -->
    </head>
    <body>
        <div id="app"></div>

        
            <script src="https://mss.sankuai.com/v1/mss_a59ccb8aa1134fe78baf942cef3422bd/auto-bi/dynamicv2/js/library_mobile.5e50f.min.js"></script>
            <!-- / -->
        
            <script src="https://mss.sankuai.com/v1/mss_a59ccb8aa1134fe78baf942cef3422bd/auto-bi/dynamicv2/js/mobile_vendor.js"></script>
            <!-- / -->
        
            <script src="https://mss.sankuai.com/v1/mss_a59ccb8aa1134fe78baf942cef3422bd/auto-bi/dynamicv2/crm/cdn/mobile/js/170/dist/jsmain.fe1333588d.js"></script>
            <!-- / -->




    </body>
</html>



