<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>LanXin Technonlogy</h1>
    <p>Welcome to Component</p>
  </body>
</html>
