<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>L</h1>
    <p>Welcome to Component</p>
    <div id="app"></div>
       <a href="/components">组件中心</a> 
  </body>
  
  <script src="https://cdn.bootcss.com/lodash.js/4.17.4/lodash.core.js"></script>
  <script src="/test/bundle.js"></script>
  <script src="/test/original.js"></script>
  
</html>
