<!DOCTYPE html>
<html>
  <head>
    <title><%= page.title %></title>
    <meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable = 0" />
     <meta name="format-detection" content="telephone=no" />
    <!--忽略识别邮箱-->
    <meta name="format-detection" content="email=no" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>DataTable 表格组件</h1>
    <div id="app"></div>
  </body>
  <script src="/javascripts/<%= page.js %>"></script>
</html>