<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>LanXin Technonlogy</h1>
    <p>Welcome to Component</p>
    <div id="app"></div>
  </body>
  <script src="/javascripts/user_info/index.js"></script>
</html>